/* use a non-serif font */
html {
  font-family: 'verdana', sans-serif;
}

/* get rid of the browser's default margin and padding around the body */
body {
  margin: 0;
  padding: 0;
}

/* absolute position the map container as full screen, leaving 300 pixels on the left */
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 300px;
}

h3 {
  margin-top: 0;
  font-size: 0.8rem
  color: orange;
}

.center{
  display:block;
  margin-left: auto;
  margin-right:auto;
  width:50%;
}
/* blue buttons with white bold text */
.flyto-button {
  padding: 7px;
  color: black;
  background-color: pink;
  font-weight: 300;
  font-size: 0.8rem;
  width: 80%;
  margin-left: 18px;
  margin-bottom:15px;
  float: center;
  display: inline;
}

/* on hover, make the background darker and turn the cursor to a pointer */
button:hover {
  cursor: pointer;
  background-color: #0067;
}

/* sidebar is fixed with and positioned to the left */
#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  overflow: auto;
  background-color: white;
  padding: 25px;
  box-sizing: border-box;
}
